<form [formGroup]="registrationForm">
  <input formControlName="firstName" type="text">
  <input formControlName="lastName" type="text">
  <input formControlName="age" type="text">
  <input formControlName="email" type="text">
  <input formControlName="password" type="text">
  <input formControlName="address" type="text">
  <input formControlName="phone" type="text">
  <input formControlName="zipcode" type="text">
  <input formControlName="avatar" type="text">
  <input formControlName="gender" type="text">
</form>
