

  
 
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
  }
  
header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slideIn 2s ease-in-out;
}

header .logo h1 {
  font-size: 24px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #d4af37;
  
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}



.hero {
  position: relative;
  width: 100%;
  height: 60vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  animation: slideIn 2s ease-in-out;
}

.hero h1,
.hero p {
  position: relative;
  color: #2c3e50; 
  z-index: 1; 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.hero .hero-image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; 
  z-index: 0; 
}


 .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  animation: slideIn 2s ease-in-out;
}


.rooms {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}


.room-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.room-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  margin: 10px;
  flex: 1 1 calc(33% - 20px); 
  max-width: calc(33% - 20px);
  transition: transform 0.2s, box-shadow 0.2s;
  padding: 10px;
  box-sizing: border-box;
 
}

.room-card:hover {
  transform: scale(0.98);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.room-card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h3 {
  text-align: center;
  color: #333;
  margin: 15px 0;
}

p {
  text-align: center;
  color: #666;
  margin: 10px 0;
}

.book-now {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: #d4af37;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.book-now:hover {
  background-color: #d4af37;
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .room-card {
      flex: 1 1 calc(50% - 20px); 
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .room-card {
      flex: 1 1 100%; 
      max-width: 100%;
  }
}
.usp {
  background-color: #f9f9f9; 
  padding: 40px 20px; 
}

h2 {
  text-align: center; 
  margin-bottom: 30px; 
  color: #333; 
}


.usp-cards {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  animation: slideIn 2s ease-in-out;
}

.usp-card {
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  margin: 10px; 
  flex: 1 1 calc(25% - 20px); 
  max-width: calc(25% - 20px); 
  padding: 20px; 
  box-sizing: border-box; 
  transition: transform 0.2s; 
}

.usp-card:hover {
  transform: scale(1.01); 
}

h3 {
  color: #2c3e50; 
  margin-bottom: 10px; 
}

p {
  color: #666; 
  margin: 0; 
}


@media (max-width: 768px) {
  .usp-card {
      flex: 1 1 calc(50% - 20px); 
      max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .usp-card {
      flex: 1 1 100%; 
      max-width: 100%;
  }
}

footer {
  background-color: #2c3e50;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  animation: slideIn 2s ease-in-out;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

