
<body>
  <header>
    <div class="logo">
        <h1>Hotel Booking</h1>
    </div>
    <nav>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/hotels">Hotels</a></li>
            <li><a routerLink="/rooms">Rooms</a></li>
            <li><a routerLink="/booked-rooms">Booked Rooms</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <div class="hero-image"><img src="assets/hotel.jpg" alt=""></div> 
    <div class="hero-content"> 
      <h1>Choose and book the best rooms</h1>
      <p>Book your room now and get the best deals</p>
    </div>
  </section>

<section class="rooms">
  <div class="container">
      <h2>Best Rooms</h2>
      <div class="room-cards">
          <div class="room-card">
              <img src="" >
              <h3>Hotel</h3>
              <p>price: </p>
              <button class="book-now">Book Now</button>
          </div>
          <div class="room-card">
              <img src="" >
              <h3>Hotel</h3>
              <p>price: </p>
              <button class="book-now">Book Now</button>
          </div>
          <div class="room-card">
              <img src="">
              <h3> Hotel</h3>
              <p>price: </p>
              <button class="book-now">Book Now</button>
          </div>
      </div>
  </div>
</section>


<footer>
  <div class="container">
      <p>&copy; 2025 Hotel Booking. All rights reserved.</p>
  </div>
</footer>
</body>



  
  