<body>
  <header>
    <div class="logo">
        <h1>Hotel Booking</h1>
    </div>
    <div class="burger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
    <nav  [class.active]="isMenuOpen">
        <ul>
            <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
            <li><a routerLink="/hotels" (click)="closeMenu()">Hotels</a></li>
            <li><a routerLink="/rooms" (click)="closeMenu()">Rooms</a></li>
            <li><a routerLink="/booked-rooms" (click)="closeMenu()"> Booked Rooms</a></li>

             <ng-container *ngIf="!userService.isLoggedIn()">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Sign Up</a></li>
        </ng-container>

      
        <ng-container *ngIf="userService.isLoggedIn()">
          <li>
            <a routerLink="/profile" class="username">{{ getUserName() }}</a>
          </li>
          <li><a href="#" (click)="logout($event)">Logout</a></li>
        </ng-container>
        </ul>
    </nav>
</header>

<section class="hero">
  <div
    class="hero-image"
    [style.backgroundImage]="currentHotel ? 'url(' + currentHotel.featuredImage + ')' : ''"
  >
    <img *ngIf="!currentHotel" src="" >
    
  </div>
  <div class="hero-content">
    <h1>Choose and book the best rooms</h1>
    <p>Book your room now and get the best deals</p>
  </div>
</section>

<section class="rooms">
  <div class="container">
    <h2>Best Rooms</h2>
    <div class="room-cards">
      <div class="room-card" *ngFor="let room of rooms | slice: 0:3">
        <img *ngIf="room.images.length > 0" [src]="room.images[0].source" alt="Room Image" />
        <h3>{{ room.name }}</h3>
        <p>Price: {{ room.pricePerNight }}</p>
        <p>Guests: {{ room.maximumGuests }}</p>
        <p *ngIf="room.available">Available</p>
        <p *ngIf="!room.available">Not Available</p>
        <button
          *ngIf="room.available"
          class="book-now"
          (click)="navigateToBookingPage(room)"
        >
          Book Now
        </button>
      </div>
    </div>
  </div>
</section>

<section class="usp">
  <div class="container">
      <h2>Why Book With Us?</h2>
      <div class="usp-cards">
          <div class="usp-card">
              <h3>Best Price Guarantee</h3>
              <p>We offer the best prices on all our hotel bookings. If you find a lower price, we’ll match it!</p>
          </div>
          <div class="usp-card">
              <h3>24/7 Customer Support</h3>
              <p>Our dedicated support team is available around the clock to assist you with any inquiries.</p>
          </div>
          <div class="usp-card">
              <h3>Exclusive Deals</h3>
              <p>Sign up for our newsletter to receive exclusive deals and discounts on your next booking.</p>
          </div>
          <div class="usp-card">
              <h3>Flexible Cancellation</h3>
              <p>Enjoy peace of mind with our flexible cancellation policies on most bookings.</p>
          </div>
      </div>
  </div>
</section>


<footer>
  <div class="container">
      <p>&copy; 2025 Hotel Booking. All rights reserved.</p>
  </div>
</footer>
</body>



  
  