<body>
    


<header>
    <div class="logo">
        <h1>Hotel Booking</h1>
    </div>
    <div class="burger-menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
    <nav  [class.active]="isMenuOpen">
        <ul>
            <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
            <li><a routerLink="/hotels" (click)="closeMenu()">Hotels</a></li>
            <li><a routerLink="/rooms" (click)="closeMenu()">Rooms</a></li>
            <li><a routerLink="/booked-rooms" (click)="closeMenu()"> Booked Rooms</a></li>
        </ul>
    </nav>
</header>
<section class="booked-rooms">
    <div class="container">
      <h1>My Booked Rooms</h1>
      <p>View all your bookings and manage your reservations with ease</p>
  
      
  
     
      <table class="booked-rooms-table">
        <thead>
            <tr>
                <th>Hotel</th>
                <th>Room</th>
                <th>User</th>
                <th>Status</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="" alt="Hotel Image">
                    <span> </span>
                    <span class="city"></span>
                </td>
                <td>
                    <img src="" alt="Room Image">
                    <span></span>
                    <span class="price"></span>
                </td>
                <td>
                    <span></span>
                    <span class="phone"></span>
                </td>
                <td class="status"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="cancel-booking">Cancel</button></td>
            </tr>
            <tr>
                <td>
                    <img src="" alt="Hotel Image">
                    <span> </span>
                    <span class="city"></span>
                </td>
                <td>
                    <img src="" alt="Room Image">
                    <span></span>
                    <span class="price"></span>
                </td>
                <td>
                    <span></span>
                    <span class="phone"></span>
                </td>
                <td class="status"></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="cancel-booking">Cancel</button></td>
            </tr>
        </tbody>
    </table>
    </div>
    

  </section>
  <footer>
    <div class="container">
        <p>&copy; 2025 Hotel Booking. All rights reserved.</p>
    </div>
  </footer>
</body>
  
  
  
